@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif; /*A fonte depois da virgula, serve para usa-lá caso a primeira não esteja disponível*/
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    border: 2px solid #ccc;
}

header h1 {
    text-transform: uppercase;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline-block; /* faz com que o componente respeite as propriedades de cada um */
    padding: 10px 10px;
}

ul li a {
    text-decoration: none;
    color: gray;
}

section#banner {
    background-image: url('../img/jane.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 73vh;
}

footer p {
    padding: 10px;
    margin: 0;
    background-color: #f2f2f2;
    text-align: center;
}

main#about {
    text-align: center;
}

main#about p{
    color: gray;
}

main#about p cite {
    color: black;
    font-weight: 700;
}

#imagejane2 {
    background-image: url('../img/jane2.jpg');
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    margin-bottom: 10px;
    width: 30%;
    height: 38vh;
}

main#music {
    margin-left: 10%;
}

iframe {
    width: 50%;
    height: 50vh;
}

/* Home v2 */
section#concept,
section#songs,
main#contact {
    width: 900px;
    margin: 30px auto;
}

section#songs img {
    width: 100%;
}

.duas-colunas {
    overflow: hidden;
}

.duas-colunas > div {
    width: 50%;
    float: left;
}

section#songs ol li {
    padding: 10px 0;
}

section#songs ol li strong {
    color: orange;
}

/* contact v2 */
section#form-mapa iframe {
    width: 100%;
    height: 400px;
}

form input[type="text"],
form textarea {
    width: 100%;
    margin: 2px 0 10px;
    padding: 2px 0 10px;
}

form .form-group {
    margin: 0 0 10px;
}

form textarea {
    resize: none;
    height: 100px;
}

form button {
    background-color: orange;
    border: none;
    padding: 5px 20px;
    color: white;
}

form button:hover {
    background-color: gray;
}

.mapa {
    padding-left: 20px;
}